<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="furtiveops.com.blueviewmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignInActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.SignUpActivity"></activity>

        <activity android:name=".activity.AddCycleTestActivity"></activity>

        <activity android:name=".activity.AddServiceActivity"></activity>

        <provider
            android:name=".contentProviders.SettingsContentProvider"
            android:authorities="${applicationId}.provider.Settings"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="SettingsContentProvider"
            android:readPermission="com.blueviewmanager.provider.Settings.READ"
            android:writePermission="com.blueviewmanager.provider.Settings.WRITE" />
    </application>

</manifest>